.shop {
    &__point {
        margin-top: 16px;

        span {
            font-weight: bold;
        }
        &-price {
            font-size: 24px;
            font-weight: normal !important;
        }
        &:first-child {
            margin-top: 26px;
        }
    }
}
